# Target & Build outputs
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# Environment & Config
.env

# IDEs & Tooling
.vscode/
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Plan, Draft & Temporary Files
HELP.md
implementation_plan*.md
plan*.md
improvements.md
